.site{
    display:flex;
    flex-direction:column;
   
}
.bar{
    display:flex;
    justify-content:center;
    background-color:grey;
}
.logo{
    width:50px;
    height:40px;
}
.links{
    
    flex:1;
    
}
.links a{
    margin:10px;
    color:white;  
}


    


.box{
    margin-left:50px;
    margin-right:50px;
    background-color:grey;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.textbox{
    flex:1;
    align-items:center;
    justify-content:center;
  }
.textbox button{
    font-size:30px;
   border-radius: 10px
}
.box img{
    flex:1;
    height:auto;
    width:400px;
}

.picturebox{
    display:flex;
    flex-direction:column;
 align-items:center;
 padding-left:50px;
 padding-right:50px;
}
.picturelist{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.text_and_picture{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:10px;
}
.text_and_picture img{
border:5px solid grey;
border-radius:30px;

width:110px;
height:110px;
}

.quotebox{
    background-color: lightgray;
    padding:50px
}
.quotebox .quote{
    font-size:30px;
    font-style:italic;
    font-weight:light;
    
}
.quotebox .author{
    font-weight:bold;
    text-align:right;
}